body {
    background: #F2F2F2;
	font-family: 'Roboto';
    color: #000000;
}

/* USO GERAL */

.logo {
	font-size: 24px;
	font-weight: 700;
	margin: 0 40px;
	padding: 18px 0;
}

.logo-small {
	margin: 0;
	padding: 0;
}

.line-divisor {
	width: 1000px;
	height: 2px;
	background-color: #000;
	margin: 48px auto 55px;
}

.container-flex-h {
	width: 100%;
	display: flex;
	align-items: center;
}

.container-flex-v {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom:111px;
}
/* USO GERAL */

.header-principal {
	height: 64px;
	display: flex;
}

.header-principal .menu-navigation {
	display: flex;
    align-items: center;
}

.header-principal .menu-navigation .ul {
	display: flex;
	list-style: none;
}

.header-principal .menu-navigation .ul .li .link {
	font-size: 18px;
	font-weight: 400;
	color: #000000;
	text-decoration: none;
	padding-right: 32px;
}

.main-banner {
	width: 100%;
	height: 700px;
}

.main-banner .h2 {
	font-size: 64px;
	font-weight: 500;
	text-align: center;
	margin: 185px 0 64px;
}

.main-banner .article {
	display: flex;
	flex-direction: column;
    align-items: center;
	text-align: center;
}

.main-banner .article .p {
	font-size: 20px;
	font-weight: 400;
	align-items: center;
	max-width: 440px;
	margin-bottom: 32px;
}

.main-testimonial {
	width: 100%;
	height: 400px;
	display: flex;
	justify-content: center;
	margin-bottom: 80px;
}

.main-testimonial .quote {
	display: flex;
    flex-direction: column;
    align-items: center;
}

.main-testimonial .p {
	font-size: 24px;
	font-weight: 400;
	margin-top: 132px;
}

.main-testimonial .author {
	font-size: 14px;
	font-weight: 400;
}

.main-form {
	width: 360px;
	height: 568px;
}

.main-form .p {
    font-size: 20px;
	font-weight: 400;
	text-align: center;
    margin-top: 120px;
    margin-bottom: 47px;
}

.main-form .form {
	display: flex;
	flex-direction: column;
	align-items: center;
    align-content: center;
	text-align: center;
}

.main-form .input {
	width: 100%;
	height: 64px;
	margin-top: 16px;
	border-radius: 5px;
	border: 1px #000000 solid;
	background: #FFFFFF;
	padding-left:25px;
	font-size: 20px;
	font-weight: 400;
	font-family: 'Roboto';
}

.main-form .input:nth-child(2) {
	margin-bottom: 24px;
}

.main-form .btn {
	width: 100%;
}

.main-posts-tall {
	height: 820px;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
}

.main-posts-tall .header .title{
	font-size: 32px;
	font-weight: 400;
	margin-top: 96px;
	margin-bottom: 24px;
}

.main-posts-tall .header .p {
	font-size: 18px;
	margin-bottom: 64px;
}

.main-posts-tall .box-posts {
	display: flex;
}

.main-posts-tall .box-posts .box-card {
	width: 270px;
	height: 436px;
	background: #FFFFFF;
	margin: 0 15px 0;
}

.main-posts-tall .box-posts .box-card:first-child {
	margin-left: 0;
}

.main-posts-tall .box-posts .box-card:last-child {
	margin-right: 0;
}

.main-posts-tall .box-posts .media {
	width: 270px;
	height: 270px;
	background: #000000;
	margin-bottom: 24px;
}

.main-posts-tall .box-posts .box-card .content {
	text-align: left;
	margin-left: 24px;
}

.main-posts-tall .box-posts .box-card .title {
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 74px;
}

.main-posts-tall .box-posts .box-card .link {
	font-size: 14px;
	color:#000000;
	text-decoration: none;
}

.main-posts-tall .box-posts .box-card .link:hover {
	color:#6da1bb;
	text-decoration: underline;
}

.main-posts-top {
	width: 1170px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.main-posts-top .div {
	width: 34%;
	height: 370px;
	background-color: #222222;
	flex-wrap: nowrap;
}

.main-posts-top .card-blog-feature {
	width: 66%;
	height: 370px;
	background-color:#000000;
	color:#FFFFFF;
	margin-bottom: 40px;
}

.main-posts-top .card-blog-feature .main-posts-text {
	margin-left: 78px;
}

.main-posts-top .card-blog-feature .p {
	font-size: 14px;
	margin-top: 54px;
}

.main-posts-top .card-blog-feature .h2 {
	width: 492px;
	font-size: 48px;
	font-weight: 400;
	margin-top: 16px;
	margin-bottom: 80px;
}

.main-posts-top .card-blog-feature .link {
	font-size: 18px;
	color:#FFFFFF;
	text-decoration: none;
}

.main-posts-top .card-blog {
	width: 570px;
	height: 290px;
	background-color:#FFFFFF;
	margin-bottom:80px;
}

.main-posts-top .card-blog .card-blog-text {
	margin-left:48px;
	margin-bottom: 16px;
}

.main-posts-top .card-blog .h3 {
	width: 474px;
	font-size: 24px;
	font-weight: 700;
	margin-top: 48px;
	margin-left:48px;
}

.main-posts-top .card-blog .p {
	width: 474px;
	height: 72px;
	font-size: 18px;
}

.main-posts-top .card-blog .link {
	color:#000000;
	text-decoration: none;
}

.footer {
	width: 100%;
}

.menu-footer  {
	display: flex;
	justify-content: center;
}

.menu-footer .ul {
	width: 1000px;
	display: flex;
	justify-content: space-around;
	list-style: none;
	color:#000;
}

.menu-footer .ul .li {
	width: calc(100% / 7);
    text-align: center;
}

.menu-footer .link {
	color:#000;
	text-decoration: none;
}

.element-circle {
	display: flex;
    justify-content: space-around;
    width: 260px;
    margin: auto;
}

.element-circle .circle {
	background-color:#F2F2F2;
	border:1px solid #000;
	margin-bottom: 72px;
}

.p-footer {
	display: flex;
	justify-content: center;
}

.p-footer .p {
	margin:0 12px 35px;
}